{% set data = salt['pillar.get']('index_web:config') -%}
INDEX_WEB_DEBUG={{ data['INDEX_WEB_DEBUG'] }}
INDEX_WEB_IP='{{ data['INDEX_WEB_IP'] }}'
INDEX_WEB_DOMAIN='{{ data['INDEX_WEB_DOMAIN'] }}'
INDEX_WEB_SERVER_ID={{ data['INDEX_WEB_SERVER_ID'] }}
INDEX_WEB_INDEX_PUBLIC_MONGO='{{ data['INDEX_WEB_INDEX_PUBLIC_MONGO'] }}'
INDEX_WEB_INDEX_PUBLIC_MONGO_PASSWD='{{ data['INDEX_WEB_INDEX_PUBLIC_MONGO_PASSWD'] }}'
INDEX_WEB_INDEX_PRIVATE_MONGO='{{ data['INDEX_WEB_INDEX_PRIVATE_MONGO'] }}'
INDEX_WEB_INDEX_PRIVATE_MONGO_PASSWD='{{ data['INDEX_WEB_INDEX_PRIVATE_MONGO_PASSWD'] }}'
INDEX_WEB_MONGO_HOST='{{ data['INDEX_WEB_MONGO_HOST'] }}'
INDEX_WEB_MONGO_PORT={{ data['INDEX_WEB_MONGO_PORT'] }}
INDEX_WEB_MONGO_DB_NAME='{{ data['INDEX_WEB_MONGO_DB_NAME'] }}'
INDEX_WEB_MONGO_USER='{{ data['INDEX_WEB_MONGO_USER'] }}'
INDEX_WEB_MONGO_PWD='{{ data['INDEX_WEB_MONGO_PWD'] }}'
INDEX_WEB_CEPH_CONFIG='{{ data['INDEX_WEB_CEPH_CONFIG'] }}'
INDEX_WEB_CEPH_TS_POOL='{{ data['INDEX_WEB_CEPH_TS_POOL'] }}'
INDEX_WEB_REDIS_HOST='{{ data['INDEX_WEB_REDIS_HOST'] }}'
INDEX_WEB_REDIS_PORT={{ data['INDEX_WEB_REDIS_PORT'] }}
INDEX_WEB_REDIS_DB={{ data['INDEX_WEB_REDIS_DB'] }}
INDEX_WEB_REDIS_PASSWD='{{ data['INDEX_WEB_REDIS_PASSWD'] }}'
INDEX_WEB_CENTRAL_PLATFORM_HOST='{{ data['INDEX_WEB_CENTRAL_PLATFORM_HOST'] }}'
INDEX_WEB_CENTRAL_PLATFORM_PORT={{ data['INDEX_WEB_CENTRAL_PLATFORM_PORT'] }}
INDEX_WEB_PLATFORM_APP_ID='{{ data['INDEX_WEB_PLATFORM_APP_ID'] }}'
INDEX_WEB_PLATFORM_APP_KEY='{{ data['INDEX_WEB_PLATFORM_APP_KEY'] }}'
INDEX_WEB_BROKER_URL='{{ data['INDEX_WEB_BROKER_URL'] }}'
INDEX_WEB_VIDEO_CLIP_EXEC='{{ data['INDEX_WEB_VIDEO_CLIP_EXEC'] }}'
INDEX_WEB_VIDEO_CLIP_DIR='{{ data['INDEX_WEB_VIDEO_CLIP_DIR'] }}'
INDEX_WEB_STATS_REQUEST={{ data['INDEX_WEB_STATS_REQUEST'] }}
INDEX_WEB_STATSD_HOST='{{ data['INDEX_WEB_STATSD_HOST'] }}'
INDEX_WEB_STATSD_PORT={{ data['INDEX_WEB_STATSD_PORT'] }}
INDEX_WEB_STATSD_APP_NAME='{{ data['INDEX_WEB_STATSD_APP_NAME'] }}'
INDEX_WEB_SENTRY_DSN='{{ data['INDEX_WEB_SENTRY_DSN'] }}'
INDEX_WEB_FLV_PATH='{{ data['INDEX_WEB_FLV_PATH'] }}'
INDEX_WEB_TS_PATH='{{ data['INDEX_WEB_TS_PATH'] }}'
INDEX_WEB_LIB_INDEX='{{ data['INDEX_WEB_LIB_INDEX'] }}'
INDEX_WEB_LIB_COMMON='{{ data['INDEX_WEB_LIB_COMMON'] }}'
INDEX_WEB_LIB_HASH='{{ data['INDEX_WEB_LIB_HASH'] }}'
INDEX_WEB_LIB_TOKEN='{{ data['INDEX_WEB_LIB_TOKEN'] }}'
INDEX_WEB_LIB_H2J='{{ data['INDEX_WEB_LIB_H2J'] }}'
INDEX_WEB_LIB_FLVDOWNLOAD='{{ data['INDEX_WEB_LIB_FLVDOWNLOAD'] }}'
INDEX_WEB_LIB_REMUXING='{{ data['INDEX_WEB_LIB_REMUXING'] }}'
INDEX_PUBLIC_MONGO_DB='{{ data['INDEX_PUBLIC_MONGO_DB'] }}'
INDEX_WEB_CEPH_UPLOAD_POOL='{{ data['INDEX_WEB_CEPH_UPLOAD_POOL'] }}'
INDEX_WEB_ENCRYPT_KEY='{{ data['INDEX_WEB_ENCRYPT_KEY'] }}'
INDEX_WEB_EVENT_STORAGE_EXCHANGE='{{ data['INDEX_WEB_EVENT_STORAGE_EXCHANGE'] }}'
INDEX_WEB_EVENT_STORAGE_MQ='amqp://{{ data['INDEX_WEB_EVENT_STORAGE_MQ']['USER'] }}:{{ data['INDEX_WEB_EVENT_STORAGE_MQ']['PASS'] }}@{{ data['INDEX_WEB_EVENT_STORAGE_MQ']['HOST'] }}:{{ data['INDEX_WEB_EVENT_STORAGE_MQ']['PORT'] }}/{{ data['INDEX_WEB_EVENT_STORAGE_MQ']['VHOST'] }}?heartbeat_interval={{ data['INDEX_WEB_EVENT_STORAGE_MQ']['HEARTBEAT_INTERVAL'] }}'
INDEX_WEB_INDEX_SYNC_MONGO='{{ data['INDEX_WEB_INDEX_SYNC_MONGO'] }}'
INDEX_WEB_EVENT_ATTACHMENT_HOST='{{ data['INDEX_WEB_EVENT_ATTACHMENT_HOST'] }}'
INDEX_WEB_KAFKA_SERVERS='{{ data['INDEX_WEB_KAFKA_SERVERS'] }}'
INDEX_WEB_KAFKA_EVENT_TOPIC='{{ data['INDEX_WEB_KAFKA_EVENT_TOPIC'] }}'
INDEX_WEB_KAFKA_PARTITION_NUM='{{ data['INDEX_WEB_KAFKA_PARTITION_NUM'] }}'
INDEX_WEB_EVENT_MONGO_URL='{{ data['INDEX_WEB_EVENT_MONGO_URL'] }}'
INDEX_WEB_EVENT_MONGO_DB_NAME='{{ data['INDEX_WEB_EVENT_MONGO_DB_NAME'] }}'
INDEX_WEB_SERVER_IP='{{ data['INDEX_WEB_SERVER_IP'] }}'
INDEX_WEB_SERVER_PORT='{{ data['INDEX_WEB_SERVER_PORT'] }}'
INDEX_WEB_GUNICORN_WORKER_NUM='{{ grains['num_cpus'] * 2 + 1 }}'
INDEX_WEB_ADFS_HOST='{{ data['INDEX_WEB_ADFS_HOST'] }}'
INDEX_WEB_CELERY_TIMEZONE='{{  data['INDEX_WEB_CELERY_TIMEZONE'] }}'
