{% set data = salt['pillar.get']('sop:config') -%}
SOP_DEBUG={{ data['SOP_DEBUG'] }}
SOP_DOMAIN='{{ data['SOP_DOMAIN'] }}'
SOP_USC_DOMAIN='{{ data['SOP_USC_DOMAIN'] }}'
SOP_MONGO_URL='{{ data['SOP_MONGO_URL'] }}'
SOP_MONGO_DB_NAME='{{ data['SOP_MONGO_DB_NAME'] }}'
SOP_CELERY_BROKER_URL='{{ data['SOP_CELERY_BROKER_URL'] }}'
SOP_CELERYD_CONCURRENCY={{ data['SOP_CELERYD_CONCURRENCY'] }}
SOP_SERVER_IP='{{ data['SOP_SERVER_IP'] }}'
SOP_SERVER_PORT={{ data['SOP_SERVER_PORT'] }}
SOP_GUNICORN_WORKER_NUM={{ data['SOP_GUNICORN_WORKER_NUM'] }}
SOP_PASSWD_SALT='{{ data['SOP_PASSWD_SALT'] }}'
SOP_SECRET_KEY='{{ data['SOP_SECRET_KEY'] }}'
SOP_MAIL_SERVER='{{ data['SOP_MAIL_SERVER'] }}'
SOP_MAIL_PORT={{ data['SOP_MAIL_PORT'] }}
SOP_MAIL_USERNAME='{{ data['SOP_MAIL_USERNAME'] }}'
SOP_MAIL_PASSWORD='{{ data['SOP_MAIL_PASSWORD'] }}'
SOP_DEFAULT_MAIL_SENDER='{{ data['SOP_DEFAULT_MAIL_SENDER'] }}'
SOP_LIB_TOKEN='{{ data['SOP_LIB_TOKEN'] }}'
SOP_STATS_SERVER_HOST='{{ data['SOP_STATS_SERVER_HOST'] }}'
SOP_STATS_SERVER_PORT={{ data['SOP_STATS_SERVER_PORT'] }}
SOP_INDEX_TIMELINE_DBS='{{ data['SOP_INDEX_TIMELINE_DBS'] }}'
SOP_INDEX_HOSTS='{{ data['SOP_INDEX_HOSTS'] }}'
SOP_CELERY_TIMEZONE='{{ data['SOP_CELERY_TIMEZONE'] }}'
SOP_IP_FILE='{{ data['SOP_IP_FILE'] }}'
SOP_DATA_ENCRYPT_KEY='{{ data['SOP_DATA_ENCRYPT_KEY'] }}'
