{% set data = salt['pillar.get']('camera:config') -%}
CAMERA_DEBUG={{ data['CAMERA_DEBUG'] }}
CAMERA_DOMAIN='{{ data['CAMERA_DOMAIN'] }}'
CAMERA_MONGO_HOST='{{ data['CAMERA_MONGO_HOST'] }}'
CAMERA_MONGO_PORT={{ data['CAMERA_MONGO_PORT'] }}
CAMERA_MONGO_DB_NAME='{{ data['CAMERA_MONGO_DB_NAME'] }}'
CAMERA_MONGO_USER='{{ data['CAMERA_MONGO_USER'] }}'
CAMERA_MONGO_PWD='{{ data['CAMERA_MONGO_PWD'] }}'
CAMERA_REDIS_HOST='{{ data['CAMERA_REDIS_HOST'] }}'
CAMERA_REDIS_PORT={{ data['CAMERA_REDIS_PORT'] }}
CAMERA_REDIS_DB={{ data['CAMERA_REDIS_DB'] }}
CAMERA_REDIS_PASSWD='{{ data['CAMERA_REDIS_PASSWD'] }}'
CAMERA_CELERY_BROKER_URL='{{ data['CAMERA_CELERY_BROKER_URL'] }}'
CAMERA_TRACKER_RELOAD_SCRIPT='{{ data['CAMERA_TRACKER_RELOAD_SCRIPT'] }}'
CAMERA_TRACKER_MQ_HOST='{{ data['CAMERA_TRACKER_MQ_HOST'] }}'
CAMERA_TRACKER_MQ_PORT={{ data['CAMERA_TRACKER_MQ_PORT'] }}
CAMERA_TRACKER_MQ_VHOST='{{ data['CAMERA_TRACKER_MQ_VHOST'] }}'
CAMERA_TRACKER_MQ_USER='{{ data['CAMERA_TRACKER_MQ_USER'] }}'
CAMERA_TRACKER_MQ_PASSWD='{{ data['CAMERA_TRACKER_MQ_PASSWD'] }}'
CAMERA_TRACKER_MQ_EXCHANGE='{{ data['CAMERA_TRACKER_MQ_EXCHANGE'] }}'
CAMERA_MQ_OPTIONS='{{ data['CAMERA_MQ_OPTIONS'] }}'
CAMERA_DEVICE_MQ_EXCHANGE='{{ data['CAMERA_DEVICE_MQ_EXCHANGE'] }}'
CAMERA_EVENT_STORAGE_EXCHANGE='{{ data['CAMERA_EVENT_STORAGE_EXCHANGE'] }}'
CAMERA_STATS_REQUEST='{{ data['CAMERA_STATS_REQUEST'] }}'
CAMERA_STATSD_HOST='{{ data['CAMERA_STATSD_HOST'] }}'
CAMERA_STATSD_PORT={{ data['CAMERA_STATSD_PORT'] }}
CAMERA_INDEX_HOSTS='{{ data['CAMERA_INDEX_HOSTS'] }}'
CAMERA_INDEX_TIMELINE_DBS='{{ data['CAMERA_INDEX_TIMELINE_DBS'] }}'
CAMERA_STORAGE_AREAS='{{ data['CAMERA_STORAGE_AREAS'] }}'
CAMERA_STORAGE_AREA_INDEX_MAP='{{ data['CAMERA_STORAGE_AREA_INDEX_MAP'] }}'
CAMERA_SENTRY_DSN='{{ data['CAMERA_SENTRY_DSN'] }}'
CAMERA_HLS_FMT='{{ data['CAMERA_HLS_FMT'] }}'
CAMERA_RTMP_FMT='{{ data['CAMERA_RTMP_FMT'] }}'
CAMERA_PUBLIC_COVER_FMT='{{ data['CAMERA_PUBLIC_COVER_FMT'] }}'
CAMERA_PRIVATE_COVER_FMT='{{ data['CAMERA_PRIVATE_COVER_FMT'] }}'
CAMERA_IP_DATA='{{ data['CAMERA_IP_DATA'] }}'
CAMERA_ENCRYPT_KEY='{{ data['CAMERA_ENCRYPT_KEY'] }}'
CAMERA_PASSWD_SALT='{{ data['CAMERA_PASSWD_SALT'] }}'
CAMERA_HLS_URL='{{ data['CAMERA_HLS_URL'] }}'
CAMERA_LIB_HASH='{{ data['CAMERA_LIB_HASH'] }}'
CAMERA_LIB_COMMON='{{ data['CAMERA_LIB_COMMON'] }}'
CAMERA_LIB_TOKEN='{{ data['CAMERA_LIB_TOKEN'] }}'
CAMERA_UPLOAD_SERVERS='{{ data['CAMERA_UPLOAD_SERVERS'] }}'
CAMERA_TRACKER_MQ_INFOS='{{ data['CAMERA_TRACKER_MQ_INFOS'] }}'
CAMERA_EVENT_STORAGE_MQ='{{ data['CAMERA_EVENT_STORAGE_MQ'] }}'
CAMERA_EVENT_STORAGE_SUPPORT='{{ data['CAMERA_EVENT_STORAGE_SUPPORT'] }}'
CAMERA_RELAY_PUSH_EXCHANGE='{{ data['CAMERA_RELAY_PUSH_EXCHANGE'] }}'
CAMERA_INTERNAL_SERVER_APPIDS='{{ data['CAMERA_INTERNAL_SERVER_APPIDS'] }}'
CAMERA_OPS_SERVER_APPIDS='{{ data['CAMERA_OPS_SERVER_APPIDS'] }}'
CAMERA_HLS_COMMON_FMT='{{ data['CAMERA_HLS_COMMON_FMT'] }}'
CAMERA_RTMP_COMMON_FMT='{{ data['CAMERA_RTMP_COMMON_FMT'] }}'
CAMERA_STATS_SERVER_APPIDS='{{ data['CAMERA_STATS_SERVER_APPIDS'] }}'
CAMERA_PRIVATE_RECORD_DOMAIN='{{ data['CAMERA_PRIVATE_RECORD_DOMAIN'] }}'
CAMERA_REQUEST_TIMEOUT='{{ data['CAMERA_REQUEST_TIMEOUT'] }}'
CAMERA_SNAPSHOT_UPLOAD_DURATION='{{ data['CAMERA_SNAPSHOT_UPLOAD_DURATION'] }}'
CAMERA_PUSH_TIMEOUT='{{ data['CAMERA_PUSH_TIMEOUT'] }}'
CAMERA_AUTH_GRANT_APPIDS='{{ data['CAMERA_AUTH_GRANT_APPIDS'] }}'
CAMERA_AUTH_PROVIDE_APPIDS='{{ data['CAMERA_AUTH_PROVIDE_APPIDS'] }}'
CAMERA_AUTH_RECEIVE_APPIDS='{{ data['CAMERA_AUTH_RECEIVE_APPIDS'] }}'
CAMERA_EVENT_KAFKA_CLIENT_ID='{{ data['CAMERA_EVENT_KAFKA_CLIENT_ID'] }}'
CAMERA_EVENT_TRANSPORT_KAFKAS='{{ data['CAMERA_EVENT_TRANSPORT_KAFKAS'] }}'
CAMERA_EVENT_KAFKA_QUERY_TIMEOUT='{{ data['CAMERA_EVENT_KAFKA_QUERY_TIMEOUT'] }}'
