{% set data = salt['pillar.get']('sto_stat:config') -%}
STORAGESTAT_DATA_NUM={{ data['STORAGESTAT_DATA_NUM'] }}
STORAGESTAT_REDUNDANCY_NUM={{ data['STORAGESTAT_REDUNDANCY_NUM'] }}
STORAGESTAT_INDEX_PUBLIC_MONGO='{{ data['STORAGESTAT_INDEX_PUBLIC_MONGO'] }}'
STORAGESTAT_INDEX_PUBLIC_MONGO_DB='{{ data['STORAGESTAT_INDEX_PUBLIC_MONGO_DB'] }}'
STORAGESTAT_INDEX_MONGO='{{ data['STORAGESTAT_INDEX_MONGO'] }}'
STORAGESTAT_INDEX_MONGO_DB='{{ data['STORAGESTAT_INDEX_MONGO_DB'] }}'
STORAGESTAT_CAMERA_MONGO='{{ data['STORAGESTAT_CAMERA_MONGO'] }}'
STORAGESTAT_CAMERA_MONGO_DB='{{ data['STORAGESTAT_CAMERA_MONGO_DB'] }}'
STORAGESTAT_CELERY_TIMEZONE='{{ data['STORAGESTAT_CELERY_TIMEZONE'] }}'
STORAGESTAT_BROKER_URL='{{ data['STORAGESTAT_BROKER_URL'] }}'
STORAGESTAT_STAT_LOG_DIR='{{ data['STORAGESTAT_STAT_LOG_DIR'] }}'
STORAGESTAT_LOG_BACK_UP_DIR='{{ data['STORAGESTAT_LOG_BACK_UP_DIR'] }}'
STORAGESTAT_AREA_ID='{{ data['STORAGESTAT_AREA_ID'] }}'
STORAGESTAT_ERROR_LOG_PATHCH='{{ data['STORAGESTAT_ERROR_LOG_PATHCH'] }}'

