server {
    listen 80;
    listen 443 ssl;
    server_name jxsr-api.antelopecloud.cn;

    charset utf-8;
    root html;
    index index.html index.htm;

    access_log logs/jxsr-api.antelopecloud.cn.access.log antelope;
    error_log logs/jxsr-api.antelopecloud.cn.error.log;

    client_body_buffer_size  16K;
    client_header_buffer_size  1k;
    client_max_body_size  40M;
    large_client_header_buffers  4  16k;

    ssl_certificate /opt/nginx/conf/star.antelopecloud.cn.crt;
    ssl_certificate_key /opt/nginx/conf/star.antelopecloud.cn.key;
    ssl_prefer_server_ciphers on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    add_header Strict-Transport-Security max-age=63072000;
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    location /crossdomain.xml {
        root /data/crossdomain;
    }

    location / {
        proxy_pass http://backend_camera;
        proxy_set_header Host $host;

        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout 3600;
        proxy_read_timeout 3600;
        proxy_send_timeout 3600;
    }

    location ~ /(cloudeye|tong|iermu)/ {
        proxy_pass http://backend_mawar;
        proxy_set_header Host $host;

        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout 3600;
        proxy_read_timeout 3600;
        proxy_send_timeout 3600;
    }

    location /stat {
        stub_status on;
        access_log off;
    }
}
