{% set data = salt['pillar.get']('developers:config') -%}
DEVELOPERS_DEBUG={{ data['DEVELOPERS_DEBUG'] }}
DEVELOPERS_DOMAIN='{{ data['DEVELOPERS_DOMAIN'] }}'
DEVELOPERS_TOPVDN_HOST='{{ data['DEVELOPERS_TOPVDN_HOST'] }}'
DEVELOPERS_TOPVDN_PORT={{ data['DEVELOPERS_TOPVDN_PORT'] }}
DEVELOPERS_MONGO_HOST='{{ data['DEVELOPERS_MONGO_HOST'] }}'
DEVELOPERS_MONGO_PORT={{ data['DEVELOPERS_MONGO_PORT'] }}
DEVELOPERS_MONGO_DB_NAME='{{ data['DEVELOPERS_MONGO_DB_NAME'] }}'
DEVELOPERS_MONGO_USER='{{ data['DEVELOPERS_MONGO_USER'] }}'
DEVELOPERS_MONGO_PWD='{{ data['DEVELOPERS_MONGO_PWD'] }}'
DEVELOPERS_REDIS_HOST='{{ data['DEVELOPERS_REDIS_HOST'] }}'
DEVELOPERS_REDIS_PORT={{ data['DEVELOPERS_REDIS_PORT'] }}
DEVELOPERS_REDIS_DB={{ data['DEVELOPERS_REDIS_DB'] }}
DEVELOPERS_REDIS_PASSWD='{{ data['DEVELOPERS_REDIS_PASSWD'] }}'
DEVELOPERS_TRACKER_MQ_HOST='{{ data['DEVELOPERS_TRACKER_MQ_HOST'] }}'
DEVELOPERS_TRACKER_MQ_PORT={{ data['DEVELOPERS_TRACKER_MQ_PORT'] }}
DEVELOPERS_TRACKER_MQ_VHOST='{{ data['DEVELOPERS_TRACKER_MQ_VHOST'] }}'
DEVELOPERS_TRACKER_MQ_USER='{{ data['DEVELOPERS_TRACKER_MQ_USER'] }}'
DEVELOPERS_TRACKER_MQ_PASSWD='{{ data['DEVELOPERS_TRACKER_MQ_PASSWD'] }}'
DEVELOPERS_TRACKER_MQ_EXCHANGE='{{ data['DEVELOPERS_TRACKER_MQ_EXCHANGE'] }}'
DEVELOPERS_DEVICE_MQ_EXCHANGE='{{ data['DEVELOPERS_DEVICE_MQ_EXCHANGE'] }}'
DEVELOPERS_STATS_REQUEST={{ data['DEVELOPERS_STATS_REQUEST'] }}
DEVELOPERS_STATSD_HOST='{{ data['DEVELOPERS_STATSD_HOST'] }}'
DEVELOPERS_STATSD_PORT={{ data['DEVELOPERS_STATSD_PORT'] }}
DEVELOPERS_SENTRY_DSN='{{ data['DEVELOPERS_SENTRY_DSN'] }}'
DEVELOPERS_IP_DATA='{{ data['DEVELOPERS_IP_DATA'] }}'
DEVELOPERS_ENCRYPT_KEY='{{ data['DEVELOPERS_ENCRYPT_KEY'] }}'
DEVELOPERS_PASSWD_SALT='{{ data['DEVELOPERS_PASSWD_SALT'] }}'
DEVELOPERS_HLS_URL='{{ data['DEVELOPERS_HLS_URL'] }}'
DEVELOPERS_LIB_HASH='{{ data['DEVELOPERS_LIB_HASH'] }}'
DEVELOPERS_LIB_COMMON='{{ data['DEVELOPERS_LIB_COMMON'] }}'
DEVELOPERS_LIB_TOKEN='{{ data['DEVELOPERS_LIB_TOKEN'] }}'
