{% set data = salt['pillar.get']('usc:config') -%}
CONSOLE_DEBUG={{ data['CONSOLE_DEBUG'] }}
CONSOLE_DOMAIN='{{ data['CONSOLE_DOMAIN'] }}'
CONSOLE_MONGO_HOST='{{ data['CONSOLE_MONGO_HOST'] }}'
CONSOLE_MONGO_PORT={{ data['CONSOLE_MONGO_PORT'] }}
CONSOLE_MONGO_DB_NAME='{{ data['CONSOLE_MONGO_DB_NAME'] }}'
CONSOLE_MONGO_USER='{{ data['CONSOLE_MONGO_USER'] }}'
CONSOLE_MONGO_PWD='{{ data['CONSOLE_MONGO_PWD'] }}'
CONSOLE_REDIS_HOST='{{ data['CONSOLE_REDIS_HOST'] }}'
CONSOLE_REDIS_PORT={{ data['CONSOLE_REDIS_PORT'] }}
CONSOLE_REDIS_DB={{ data['CONSOLE_REDIS_DB'] }}
CONSOLE_REDIS_PASSWD='{{ data['CONSOLE_REDIS_PASSWD'] }}'
CONSOLE_MAIL_SERVER='{{ data['CONSOLE_MAIL_SERVER'] }}'
CONSOLE_MAIL_PORT={{ data['CONSOLE_MAIL_PORT'] }}
CONSOLE_MAIL_USERNAME='{{ data['CONSOLE_MAIL_USERNAME'] }}'
CONSOLE_MAIL_PASSWORD='{{ data['CONSOLE_MAIL_PASSWORD'] }}'
CONSOLE_DEFAULT_MAIL_SENDER='{{ data['CONSOLE_DEFAULT_MAIL_SENDER'] }}'
CONSOLE_SENTRY_DSN='{{ data['CONSOLE_SENTRY_DSN'] }}'
CONSOLE_YTX_ACCOUNT_ID='{{ data['CONSOLE_YTX_ACCOUNT_ID'] }}'
CONSOLE_YTX_AUTH_TOKEN='{{ data['CONSOLE_YTX_AUTH_TOKEN'] }}'
CONSOLE_YTX_APP_ID='{{ data['CONSOLE_YTX_APP_ID'] }}'
CONSOLE_INDEX_HOSTS='{{ data['CONSOLE_INDEX_HOSTS'] }}'
CONSOLE_RECORD_CLIP_URL='{{ data['CONSOLE_RECORD_CLIP_URL'] }}'
CONSOLE_ENCRYPT_KEY='{{ data['CONSOLE_ENCRYPT_KEY'] }}'
CONSOLE_PASSWD_SALT='{{ data['CONSOLE_PASSWD_SALT'] }}'
CONSOLE_SECRET_KEY='{{ data['CONSOLE_SECRET_KEY'] }}'
CONSOLE_LIB_TOKEN='{{ data['CONSOLE_LIB_TOKEN'] }}'
CONSOLE_STORAGE_AREAS='{{ data['CONSOLE_STORAGE_AREAS'] }}'
CONSOLE_INDEX_TIMELINE_DBS='{{ data['CONSOLE_INDEX_TIMELINE_DBS'] }}'
CONSOLE_CELERY_BROKER_URL='{{ data['CONSOLE_CELERY_BROKER_URL'] }}'
CONSOLE_LOGCENTER_HOST='{{ data['CONSOLE_LOGCENTER_HOST'] }}'
CONSOLE_LOGCENTER_PORT={{ data['CONSOLE_LOGCENTER_PORT'] }}
CONSOLE_DEFAULT_INIT_STRING='{{ data['CONSOLE_DEFAULT_INIT_STRING'] }}'
CONSOLE_DATA_ENCRYPT_KEY='{{ data['CONSOLE_DATA_ENCRYPT_KEY'] }}'
